# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and build
node_modules
dist
dist-ssr

# Testing
coverage/
*.lcov

# Environment and local files
*.local
.env

# Cache
.eslintcache
.vite/
vite.config.js.timestamp-*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/

# OS and system files
.DS_Store
Thumbs.db
desktop.ini
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.junie
