* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: white;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center;
}

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    display: flex;
    flex: 1;
    padding: 0.5rem 0;
}

.content {
    flex: 1;
}

button + button {
    margin: 0 8px;
}

button:hover {
    cursor: pointer;
}

.error {
    color: red;
    font-weight: bold;
    margin: 16px 0;
}
